* {
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}

html,body {
    background-color: #151320;
    
    width: 100%;
    margin:0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
     position: relative; 
}

h1 {
    text-align: center;
    color: white;
    padding: 10px;
}

.container {
    padding: 15px 0px;
    border-radius: 10px;
}

.row {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.card0 {
    border: 1px solid black;
    color: white;
    display: inline-block;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4);
    font-family: 'Poppins', sans-serif;
    background-color: #151320;
}

.card-head {
    text-align: center;
    background-color: #2ecab6;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}

.card-body {
    width: 240px;
    height: 300px;
    background-color: #151320;
}

.card-body img {
    width: 100%;
    height: 100%;
}

.card-footer {
    background-color: blue;
    padding: 0px;
    border-radius: 0px 0px 10px 10px;
}

#scrollable::-webkit-scrollbar {
    width: 20px;

}

#scrollable::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #9932CC;
    border-radius: 10px;

}

#scrollable::-webkit-scrollbar-thumb:hover {
    background: #151320;
}

p {
    text-align: center;
    padding: 5px;
}

hr.rounded {
    border-top: 8px solid #fff;
    border-radius: 5px;
    width: 100%;
}

.savingsText{
    width: 125px;
    padding: 12px 20px;
    margin-left: 46%;
    background-color: #151320;
    color: white;
    font-size: 18px;
    border-style: none;
}

.heading1 {
    color: #ffffff;
    letter-spacing: 2px;
    text-align: left;
    padding: 2px;
    margin-top: 200px;
}

.heading2 {
    color: #ffffff;
    letter-spacing: 2px;
    text-align: left;
    padding: 2px;
    margin-top: 0px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    padding-top: 50px;
    grid-gap: 20px;
    margin-bottom: 280px;
}

.card {
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.container {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.container:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.7;
}

.details {
    padding: 10px 5px;
}

.details>h3 {
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0 15px 0;
}

.details1>h3 {
    color: #ffffff;
    font-weight: 600;
    font-size: 28px;
    margin: 10px 0 15px;
    padding: 5px;
}

.details1>h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 28px;
    margin: 10px 0 15px;
    padding: 5px;
    text-align: center;
}

.details1>p {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px;
    padding: 5px;
    text-align: center;
}

.details>p {
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
.mdl-card{
  margin:0 auto;
  border-radius: 10px 10px 0px 0px;
 

}


.slider-label{
  color:#9E9E9E;
  font-size: 20px;
  color: #151320;
}

.tool-label{
  color:#00BCD4;
  font-size: 24px;
}

.installment-label{
  color:#FFFFFF;
  text-align:center;

}

/*.animated{
    width: 500px;
}*/
.installment-value{
  color:#FFFFFF;
  text-align:center;
  font-size:28px;
}

.slider-value{
  font-weight:bold;
}

.installment-value{
  text-align:center;
  font-weight:bold;
}

.cyan {
    color:#FFFFFF;
    background-color: #2ecab6;
    margin-left: 16px;

}
.emiText{
  font-size: 35px;
  text-align: center;

}
.mdl-textfield__input{
  width: 100px;
   margin-top: -3px;
   color: white;
}

label {
    float: left;
}
span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px;
    color: white;
}
input {
    width: 100%;
    color: white;
}
.mdl-card{
  height: 600px;
  width: 400px;
  background-color: #151320;
}
.emiBackground{
    background-color:#151320; 
}
.wrapper{
  margin:0 auto;
  padding: 40px;
  max-width: 800px;

}
.table{
  margin: 0 0 40px 0;
  width: 100%;
  display: table;
  font-size: 15px;

}
@media screen and (max-width: 580px){
 .table{
  display: block;
  padding-left: 0px;
  font-size: 15px;
 }
 .personalLoan{
  font-size: 20px;
 
 }
}
.row{
  display: table-row;
  background:#f6f6f6;
}
.row:nth-of-type(odd){
  background:#e9e9e9;
}
.row.header{
  font-weight: 900;
  color: #fff;
  background:#2ecab6; 
}
@media screen and (max-width: 580px){
  .row{
    padding:14px 0 7px;
  }
  .row.header{
    padding: 0;
    height: 6px;
  }
  .row .cell{
    margin-bottom: 10px;
  }
  .row .cell:before{
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}
.cell{
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px){
    .cell{
      padding: 2px 16px;
      display: block;
    }
}
.personalLoan{
  color: #18375f;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
}
.mdl-slider ,.mdl-js-slider{
    color: white;
}
.heading2 p{
   font-size:40px;
}
@media only screen and (max-width: 780px) {
    body{
         overflow-x: hidden;
    }
   .heading2 p{
   font-size:20px;
   line-height:1.6;
}

}